.page-template-about{
    #content{
        padding: 20px;
    }
    .about-title {
        font-family: $aldrich;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
    }
    .about-photo{
        text-align: center;
    }
    .about_copy{
        font-family: $jura;
    }
    .about-thankyou{
        margin-top: 20px;
    }
    .about-bottom{
        .about-thankyou{
            display: block;
        }
        .about-social-container{
            margin-top: 20px;
        }
        .about-social-links{
            background-color: #F7F7F7;
            padding: 10px;
            border-radius: 3px;
            margin-right: 8px;
            i{
                color: #565656; 
            }
        }
        .contact-prompt{
            font-family: $aldrich;
            text-align: center;
            h3{
                font-size: 16px;
            }
            .contact-button{
                text-decoration: none;
                padding: 11px;
                background-color: #F39A39;
                color: #fff2ea;
                display: block;
                width: 100%;
            }
        }
    }
}