.site-footer{
    background-color: $black;
    color: $white;
    text-align: center;
    .social-icons{
        color: $white;
        text-decoration: none;
        padding: 15px 0;
        &:hover{
            color: $hover;
        }
    }
    .copyright-footer{
        h6{
            margin: 0px;
            font-size: 14px;
            font-family: $aldrich;
            padding: 40px 0;
        }
    }
}