.game-container{
    .mobile-page-start-text{
        margin: 54px 0;
        animation: blink-animation 1s steps(5, start) infinite;
        -webkit-animation: blink-animation 1s steps(5, start) infinite;
        a{
            font-family: $start;
            color: $white;
            text-decoration: none;
            text-transform: uppercase; 
        }
    }
      @keyframes blink-animation {
        to {
          visibility: hidden;
        }
      }
      @-webkit-keyframes blink-animation {
        to {
          visibility: hidden;
        }
    }
    .mobile-page-instructions a{
        @include homepage-button;
        text-transform: uppercase;
        max-width: 232px;
        padding: 18px;
        margin-top: 50px;
    }
    
}