/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/* Links */


/* Menus */

.site-branding {
	display: none;
}

.desktop-navigation {
	display: none;
}

.main-navigation {
	.row-menu {
		display: none;
	}
	img {
		max-width: 180px;
		max-height: 28px;
	}
	.mobile-menu-container {
		padding: 13px 20px 2px 20px;
		display: flex;
		justify-content: space-between;
		background-color: $black;
	}
	#mobile-menu {
		display: none;
		list-style: none;
		margin: 0px;
		text-align: center;
		padding: 0px;
		li {
			background-color: $hover;
			&:nth-child(2) {
				border-top: 1px solid $black;
			}
			a{
				padding: 30px 0;
				display: block;
			}
		}
	}
	a {
		text-decoration: none;
		font-family: $bungee;
		color: $black;
		width: 100%;
	}
	.logo{
		text-align: left;
	}
}

//hamburger
#hamburger {
	margin-top: 3px;
	width: 42px;
	height: 45px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	span {
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background: $white;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2),
		&:nth-child(3) {
			top: 11px;
		}
		&:nth-child(4) {
			top: 22px;
		}
	}
}

#hamburger.open span {
	&:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
	&:nth-child(2) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	&:nth-child(3) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	&:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
}

//desktop nav
@media(min-width:800px) {
	.mobile-navigation{
		display: none;
	}
	.desktop-navigation {
		background-color: $black;
		padding: 13px 20px 2px 20px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		.row-menu {
			display: block;
		}
		li {
			list-style: none;
			display: inline-block;
			padding-left: 0px;
			a {
				color: white;
				font-size: 20px;
				padding: 0px;
				&:hover{
					color: $hover;
				}
			}
			&:nth-child(2) {
				margin-left: 34px;
			}
		}
	}
}