.single-project{
    .sp-info{
        padding: 20px;
        font-family: $jura;
    }
    .project-page-title{
        font-family: $aldrich;
        text-align: center;
        font-size: 16px;
        margin: 10px 0;
    }
    .single-product-title{
        font-weight: 600;
        text-align: center;
        font-size:18px;
        margin: 10px 0;
    }
    .sp-title{
        margin: 10px 0;
        font-weight: 600;
    }
}